* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
  color: #dafffb;
}
body {
  background-color: #24afde;
  color: #dafffb;
  overflow-x: hidden;
}

// header
header {
  background-color: #04364a;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px 30px;
  h1 {
    font-size: 40px;
    letter-spacing: 3px;
  }
  div {
    display: flex;
    gap: 15px;
    a {
      background-color: #176b87;
      padding: 8px 10px;
      border-radius: 10px;
    }
  }
}

.active {
  display: none;
}

// card and list-page
.container {
  width: 70vw;
  margin: 100px auto;
  display: flex;
  flex-direction: column;
  gap: 20px;
  .info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    p {
      background-color: #24afde;
      padding: 5px 10px;
      border-radius: 10px;
      cursor: pointer;
    }
  }
  .post {
    background-color: #04364a;
    padding: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap: 20px;
    box-shadow: 2px 2px 40px #04364a;
  }
}

// add-post
form {
  width: 70vw;
  max-width: 900px;
  min-height: 70vh;
  background-color: #04364a;
  margin: 100px auto;
  padding: 50px 20px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;

  h2 {
    text-align: center;
  }
  fieldset {
    display: flex;
    flex-direction: column;
    gap: 5px;
    border: none;
    width: 100%;

    input {
      background: none;
      outline: none;
      border: 1px solid #dafffb;
      border-radius: 10px;
      padding: 10px 20px;
      color: #dafffb;
    }
    textarea {
      background: none;
      outline: none;
      border: 1px solid #dafffb;
      border-radius: 10px;
      padding: 10px 20px;
      resize: vertical;
      min-height: 100px;
      max-height: 200px;
      color: #dafffb;
    }
  }
  button {
    padding: 10px 20px;
    border-radius: 10px;
    background: #176b87;
    color: #dafffb;
    border: none;
    cursor: pointer;
    transition: all 0.3s;
    font-weight: bold;
    &:hover {
      scale: 0.98;
      opacity: 0.7;
    }
  }
}

.wrapper {
  background-color: #04364a7a;
  width: 100vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  display: grid;
  place-items: center;
  .popup {
    background: #dafffb;
    padding: 10px;
    border-radius: 10px;
    width: 70%;
    height: 80%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    .btn-wrapper {
      h4 {
        font-size: 25px;
        color: #04364a;
      }
      span {
        color: #00070a;
        font-weight: 900;
        text-transform: uppercase;
      }
      display: flex;
      justify-content: space-between;
      gap: 50px;
      button {
        background-color: rgb(153, 5, 5);
        padding: 10px 20px;
        color: #dafffb;
        border-radius: 10px;
        border: none;
        cursor: pointer;
        transition: all 0.3s;
        &:hover {
          color: white;
          transform: scale(1.02);
        }
      }
    }
  }
}
